# Ignore all Terraform configuration files
*.tf

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform plan files
*.tfplan

# Ignore .terraform directory
.terraform/

# Ignore .terraform.lock.hcl file
.terraform.lock.hcl

# Do not ignore the main.tf file
!main.tf
!ec2.tf
!outputs.tf
!vpc.tf
!provider.tf
!security_groups.tf



